.myHeader {
    text-align: center;
    font-size: xx-large;
}

.row-buffer { 
    margin: 5px;
}

.row-title {
    margin-top: 15px;
    margin-bottom: 15px;
}

.card {
    margin-top: 15px;
    margin-bottom: 15px;
}